header {
  width: 100%;
  max-width: 1300px;
  height: 150px;
  background-color: #ffffffb2;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #333;
  box-sizing: border-box;
  margin: auto;
  overflow: hidden;
}

.header-content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
}

.main-content {
  width: 100%;
  max-width: 1300px;
  height: 2000px;
  background-color: #ffffffb2;
  color: rgb(0, 0, 0);
  display: inline-block;
  border: 2px solid #333;
  box-sizing: border-box;
  margin: auto;
  overflow: hidden;
}


.main-content nav {
  background-color: #350000;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 10px 100px; 
}

.main-content nav ul {
  display: flex;
  justify-content: center;
  gap: 5em;
  margin-right: 25em;
  list-style: none;
}

.main-content nav ul a{
  position: relative;
  color: rgb(102, 102, 102);
  padding: 5px 15px;
  font-family: 'Arial Black', sans-serif;
  font-weight: 900;
  font-style: normal;
  border-radius: 5px;
  transition: 0.5s ease;
  font-size: 20px;
  text-decoration: none;
}

.main-content nav ul a span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-bottom: 2px solid rgb(255, 196, 0);
  border-radius: 15px;
  transform: scale(0) translateY(50px);
  opacity: 0;
  transition: 0.5s ease;
}

.main-content nav ul a:hover span{
  transform: scale(1) translateY(0);
  opacity: 1;
}

.main-content nav ul a:hover{
  color: rgb(255, 196, 0);
}

.main-content nav > a{
  font-size: 32px;
  color: white;
  text-decoration: none;
}

.main-content nav ul a.active {
  color: rgba(255, 196, 0, 0.514);
}

.main-content nav ul a.active span {
  transform: scale(1) translateY(0);
  opacity: 1;
}

.content-box1 {
  width: 100%;
  height: 600px;
  position: relative;
  text-align: center;
  background-color: rgb(255, 87, 87);
  margin: auto;
  color: white;
}

footer {
  width: 100%;
  max-width: 1300px;
  height: 150px;
  background-color: #ffffffb2;
  color: rgb(0, 0, 0);
  display: inline-block;
  border: 2px solid #333;
  box-sizing: border-box;
  margin: auto;
  overflow: hidden;
}

.footer-content {
    display: inline-block;
    width: 100%;
    height: 200px;
    padding: 2px 10px;
    box-sizing: border-box;
    font-size: 20px;
}

.header-img-holder-box {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  box-sizing: border-box;
  object-fit: contain;
}


.header-middle-box{
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
}


body {
    background-color: gray;
}

